
<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="stylesheets/engineering.css">    
<script src="javascripts/engineering.js"></script>
<body>
    <div class="grid-container desktop">
        <button class="ftl-input grid-item" id="shup" onclick="engineerPost(this)">+ SHIELDS +</button>
        <button class="ftl-input grid-item" id="enup" onclick="engineerPost(this)">+ ENGINES +</button>
        <button class="ftl-input grid-item" id="oxup" onclick="engineerPost(this)">+ OXYGEN +</button>
        <button class="ftl-input grid-item" id="mdup" onclick="engineerPost(this)">+ MED/CLONE BAY +</button>
        <button class="ftl-input grid-item" id="arup" onclick="engineerPost(this)">+ ARTILLERY +</button>
        <button class="ftl-input grid-item" id="clup" onclick="engineerPost(this)">+ CLOAK +</button>
        <button class="ftl-input grid-item" id="mcup" onclick="engineerPost(this)">+ MIND CONTROL +</button>
        <button class="ftl-input grid-item" id="hkup" onclick="engineerPost(this)">+ HACKING +</button>
        <button class="ftl-input grid-item" id="tpup" onclick="engineerPost(this)">+ TELEPORTER +</button>

        <button class="ftl-input grid-item" id="shdn" onclick="engineerPost(this)">- SHIELDS -</button>
        <button class="ftl-input grid-item" id="endn" onclick="engineerPost(this)">- ENGINES -</button>
        <button class="ftl-input grid-item" id="oxdn" onclick="engineerPost(this)">- OXYGEN -</button>
        <button class="ftl-input grid-item" id="mddn" onclick="engineerPost(this)">- MED/CLONE BAY -</button>
        <button class="ftl-input grid-item" id="ardn" onclick="engineerPost(this)">- ARTILLERY -</button>
        <button class="ftl-input grid-item" id="cldn" onclick="engineerPost(this)">- CLOAK -</button>
        <button class="ftl-input grid-item" id="mcdn" onclick="engineerPost(this)">- MIND CONTROL -</button>
        <button class="ftl-input grid-item" id="hkdn" onclick="engineerPost(this)">- HACKING -</button>
        <button class="ftl-input grid-item" id="tpdn" onclick="engineerPost(this)">- TELEPORTER -</button>
    </div>
<br><br>
    <div class="grid-container mobile">
        <button class="ftl-input grid-item" id="shdn" onclick="engineerPost(this)">- SHIELDS -</button>
        <button class="ftl-input grid-item" id="shup" onclick="engineerPost(this)">+ SHIELDS +</button>
        <button class="ftl-input grid-item" id="endn" onclick="engineerPost(this)">- ENGINES -</button>
        <button class="ftl-input grid-item" id="enup" onclick="engineerPost(this)">+ ENGINES +</button>
        <button class="ftl-input grid-item" id="oxdn" onclick="engineerPost(this)">- OXYGEN -</button>
        <button class="ftl-input grid-item" id="oxup" onclick="engineerPost(this)">+ OXYGEN +</button>
        <button class="ftl-input grid-item" id="mddn" onclick="engineerPost(this)">- MED/CLONE BAY -</button>
        <button class="ftl-input grid-item" id="mdup" onclick="engineerPost(this)">+ MED/CLONE BAY +</button>
        <button class="ftl-input grid-item" id="ardn" onclick="engineerPost(this)">- ARTILLERY -</button>
        <button class="ftl-input grid-item" id="arup" onclick="engineerPost(this)">+ ARTILLERY +</button>
        <button class="ftl-input grid-item" id="cldn" onclick="engineerPost(this)">- CLOAK -</button>
        <button class="ftl-input grid-item" id="clup" onclick="engineerPost(this)">+ CLOAK +</button>
        <button class="ftl-input grid-item" id="mcdn" onclick="engineerPost(this)">- MIND CONTROL -</button>
        <button class="ftl-input grid-item" id="mcup" onclick="engineerPost(this)">+ MIND CONTROL +</button>
        <button class="ftl-input grid-item" id="hkdn" onclick="engineerPost(this)">- HACKING -</button>
        <button class="ftl-input grid-item" id="hkup" onclick="engineerPost(this)">+ HACKING +</button>
        <button class="ftl-input grid-item" id="tpdn" onclick="engineerPost(this)">- TELEPORTER -</button>
        <button class="ftl-input grid-item" id="tpup" onclick="engineerPost(this)">+ TELEPORTER +</button>


    </div>
  
</body>
