
<!DOCTYPE html>

<body>
    <div>
        <form action="weapons">
            <button type="submit">Weapons Systems</button>
        </form>
    </div>
    <div>
        <form action="engineering">
            <button type="submit">Lead Engineer</button>
        </form>
    </div>
    <div>
        <form action="tactical">
            <button type="submit">Tactical Specialist</button>
        </form>
    </div>
    <div>
        <form action="personell">
            <button type="submit">Security and Personell</button>
        </form>
    </div>
</body>

