
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="stylesheets/mainpage.css">    
<script src="javascripts/engineering.js"></script>
<body>
  <div class="grid-container">
    <div class="grid-item">
        <form action="weapons">
            <button type="submit">Weapons Systems</button>
        </form>
    </div>
    <div class="grid-item">
        <form action="engineering">
            <button type="submit">Lead Engineer</button>
        </form>
    </div>
    <div class="grid-item">
        <form action="tactical">
            <button type="submit">Tactical Specialist</button>
        </form>
    </div>
    <div class="grid-item">
        <form action="personell">
            <button type="submit">Security and Personell</button>
        </form>
    </div>
  </div>
</body>

