<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="stylesheets/personnel.css">    
<script src="javascripts/post.js"></script>
<body>  
        <div class="grid-container mobile drone">
                <button class="ftl-input grid-item" id="dr1dn" onclick="tacticalPost(this)">Crew 1</button>
                <button class="ftl-input grid-item" id="dr1dn" onclick="tacticalPost(this)">Crew 2</button>
                <button class="ftl-input grid-item" id="dr2dn" onclick="tacticalPost(this)">Crew 3</button>
                <button class="ftl-input grid-item" id="dr2dn" onclick="etacticalPost(this)">Crew 4</button>
                <button class="ftl-input grid-item" id="dr3dn" onclick="tacticalPost(this)">Crew 5</button>
                <button class="ftl-input grid-item" id="dr3dn" onclick="tacticalPost(this)">Crew 6</button>    
                <button class="ftl-input grid-item" id="dr3dn" onclick="tacticalPost(this)">Crew 7</button>
                <button class="ftl-input grid-item" id="dr3dn" onclick="tacticalPost(this)">Crew 8</button>
                <br><br><br>
                
        
            </div>
            <div class="grid-container mobile activities">
                    <button class="ftl-input grid-item" id="dr3dn" onclick="tacticalPost(this)">TP Send</button>
                <button class="ftl-input grid-item" id="dr3dn" onclick="tacticalPost(this)">Return to Stations</button>    
                <button class="ftl-input grid-item" id="dr3dn" onclick="tacticalPost(this)">Close All Doors</button>
                <button class="ftl-input grid-item" id="dr3dn" onclick="tacticalPost(this)">TP Return</button>
                <button class="ftl-input grid-item" id="dr3dn" onclick="tacticalPost(this)">Save Stations</button>
            </div>
</body>