<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="stylesheets/weapons.css">    
<script src="javascripts/post.js"></script>
<body>  
    <div class="desktop" id="left">
            <br>
                <div class="grid-container desktop drone">
                    <button class="ftl-input grid-item" id="wep1dn" onclick="setActive(this)">- Weapon 1 -</button>
                    <button class="ftl-input grid-item" id="wep1up" onclick="setActive(this)">+ Weapon 1 +</button>

                    <button class="ftl-input grid-item" id="wep2dn" onclick="setActive(this)">- Weapon 2 -</button>
                    <button class="ftl-input grid-item" id="wep2up" onclick="setActive(this)">+ Weapon 2 +</button>

            
                    <button class="ftl-input grid-item" id="wep3dn" onclick="setActive(this)">- Weapon 3 -</button>
                    <button class="ftl-input grid-item" id="wep3up" onclick="setActive(this)">+ Weapon 3 +</button>


                    <button class="ftl-input grid-item" id="wep4dn" onclick="setActive(this)">- Weapon 4 -</button>
                    <button class="ftl-input grid-item" id="wep4up" onclick="setActive(this)">+ Weapon 4 +</button>
                </div>
        <div class="desktop" id="right">
            <br>
            <div class="desktop noselect"><img src="images/weapon_subpart.png" id="wepImg2"></div>
        </div>
    </div>

        <div class="mobile noselect"><img src="images/weapon_subpart.png" id="wepImg1" ></div>
        <div class="mobile">
                <br>
                    <div class="grid-container mobile drone">
                            <button class="ftl-input grid-item" id="wep1dn" onclick="setActive(this)">- Weapon 1 -</button>
                            <button class="ftl-input grid-item" id="wep1up" onclick="setActive(this)">+ Weapon 1 +</button>

                            <button class="ftl-input grid-item" id="wep2dn" onclick="setActive(this)">- Weapon 2 -</button>
                            <button class="ftl-input grid-item" id="wep2up" onclick="setActive(this)">+ Weapon 2 +</button>

                    
                            <button class="ftl-input grid-item" id="wep3dn" onclick="setActive(this)">- Weapon 3 -</button>
                            <button class="ftl-input grid-item" id="wep3up" onclick="setActive(this)">+ Weapon 3 +</button>


                            <button class="ftl-input grid-item" id="wep4dn" onclick="setActive(this)">- Weapon 4 -</button>
                            <button class="ftl-input grid-item" id="wep4up" onclick="setActive(this)">+ Weapon 4 +</button>

                    
            </div>
</body>
