body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color:#3d3d3d;
    }
    
    a {
    color: #00B7FF;
    }
        
    
    @media screen and (min-width: 1201px){ 
        .grid-container {
            display: inline-grid;
            grid-template-columns: 33% 33% 33%;
            width: 100%;
            margin-top:0%;
            padding-top:0%;
            
        }
        #ftlButtons{
            float:top;
        }
        .ftl-input {
            background-color:#2b2b2b;
            color:#63ffa4;
            border-style: solid;
            border-radius:0px;
            border-color:#63ffa4;
            height:120px;
            font-family:monospace;
            
        }
        .ftl-input:hover{
            background-color:#546963;
        }
        .mobile {
            /* display:none; */
        }
        #left{
            float:left;
            width:50%;
        }
        #right{
            float:right;
            width:50%;
        }
    
    }
    
    @media screen and (max-width: 2000px){  /* mobile device css */
        .ftl-input {
            touch-action: manipulation;
            background-color:#2b2b2b;
            color:#63ffa4;
            border-style: solid;
            border-radius:0px;
            border-color:#63ffa4;
            height:128px;
            font-size:48px;
            touch-action: manipulation;
            font-family:monospace;
        }
        .ftl-input:hover{
            background-color:#546963;
        }
        .grid-container.drone {
            display: inline-grid;
            grid-template-columns: 50% 50%;
            width: 100%;
            
            /* margin-left:0%; */
        }
        .mobile img{
            width:100%;
            touch-action: manipulation;
        }
        .grid-container.activities {
            display: inline-grid;
            grid-template-columns: 50% 50%;
            width: 100%;
        }
    
        .grid-container.activities button {
            height: 190px;
        }
    
        .desktop {
            display:none;
        }

        .grid-container.parent {
            display:inline-grid;
            grid-template-columns: 25% 25% 50%;
            width: 100%;
        }

.ftl-input.active {
    background-color:#63ffa4;
    color:#2b2b2b;
}
    }
    
    .noSelect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }